---
import { getCollection, getEntryBySlug } from "astro:content"
import "katex/dist/katex.min.css"
import Layout from "../../components/Layout.astro"
import "../../lib/main.postcss"
import { convertToHTML } from "../../lib/md-to-html"
import "../../lib/theme.postcss"

const entry = (await getEntryBySlug("decks", Astro.params.id!))!
const headings = (await entry.render()).headings
const title = entry.data.title || headings[0]?.text || "Untitled deck"
const html = entry && convertToHTML(entry.body)

export async function getStaticPaths() {
  const slides = await getCollection("decks")

  return slides.map((x) => ({ params: { id: x.slug } }))
}
---

<Layout deck={entry} title={title} set:html={html}>
  <nav
    class="fixed left-0 top-0 hidden h-screen max-h-screen min-h-screen w-72 flex-col overflow-y-auto py-8 pl-8 text-[--z-preview] xl:flex"
  >
    {
      headings
        .filter((heading) => heading.depth == 1 || heading.depth == 2)
        .map((heading) => (
          <a
            class="hyphens-auto pb-1 underline-offset-[3px] hover:underline"
            href={"#" + heading.slug}
          >
            {heading.text}
          </a>
        ))
    }
  </nav>
</Layout>
