---
import type { CollectionEntry } from "astro:content"
import "../lib/global.postcss"

interface Props {
  deck: CollectionEntry<"decks"> | undefined
  title: string
}
---

<html class="z-slate-light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<script src="../lib/highlighter.ts"></script>
